body {
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Aubrey', cursive;
    color: white;
}

h1 { 
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

span {
    
    font-size: 25px;
    font-weight: 600;
}

div {
    display: flex;
    justify-content: center;
}

button {
    width: 70px;
    margin: 0px 10px 0px 10px;
    font-family: 'Aubrey', cursive;
    font-weight: bold;
    font-size: 20px;
}

.time {
    margin-bottom: 20px;
}

